<div class="content">
    <div class="side-menu">
        <ul class="nav flex-column">
            <li class="nav-item clickable" (click)="selectType('new')">
              new project
            </li>
            <li class="nav-item clickable" (click)="selectType('component')">
              component
            </li>
            <li class="nav-item clickable" (click)="selectType('pipe')">
              pipe
            </li>
            <li class="nav-item clickable" (click)="selectType('lib')">
              library
            </li>
          </ul>
    </div>
    <app-code-gen-area [cmd]="cmd" #childForm></app-code-gen-area>
</div>