<div class="popup" [formGroup]="form">
    <h5>Style</h5>
    <div class="inputs">
        <!--         <input type="text" formControlName="name"> -->
        <div class="popup-actions">
            <div class="popup-action" *ngFor="let j of data.popupOptions">
                <input type="radio" [value]="j" [formControlName]="data.popupControlName"><span
                    class="small">{{j}}</span>
            </div>
        </div>
    </div>
    <div class="popupButtons">
        <button class="primaryButton" (click)="ok()">Ok</button>
        <button class="secondaryButton" (click)="cancel()">Cancel</button>
    </div>

</div>