<section class="parent-section">
    <div class="heading">
        <h1 class="center title">Generate Angular Commands Easily</h1>
    </div>
    <div class="steps">
        <div class="each-step">
            <div class="step-circle">
                1
            </div>
            <p>Choose your requirement</p>
        </div>
        <div class="each-step">
            <div class="step-circle">
                2
            </div>
            <p>Enter the details</p>
        </div>
        <div class="each-step">
            <div class="step-circle">
                3
            </div>
            <p>Generate your command</p>
        </div>
    </div>
</section>