<div [formGroup]="form" style="margin-top: 20px; border: 1px solid black; width: 500px; height: 80%;">
    <div>
        <input type="text" id="name" formControlName="name" class="contentField" placeholder="Enter the name"
            autocomplete="nope">
        <!-- <div class="error" *ngIf="form">*Name is required</div> -->
        <button (click)="generate()">Generate</button>
    </div>

    <div class="more-actions">
        <div class="action">
            <input type="checkbox" formControlName="dryRun" value="dryRun"><span class="small">Dry run</span>
        </div>
        <div class="action">
            <input type="checkbox" formControlName="routing" value="routing"><span class="small">Routing</span>
        </div>
        <div class="action">
            <input type="checkbox" formControlName="css" value="css"><span class="small">CSS</span>
        </div>
    </div>
    <textarea #textarea formControlName="code" autocomplete="nope"></textarea>
</div>